

.card{
    background-color: white;
    padding:5px;
    border-radius:10px;
    margin: 18px;
    width:200px;
    height:150px;
}
.card-name{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    text-align: center;
    padding-left: 0px;
}
.card-image:hover{
    opacity:0.6;
}
.card-link{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.link-icon{
    font-size: 15px;
    color:#91bbff;
}
.link-icon:hover{
    font-size: 18px;
    color:#3e86fa;
}
